<!-- BEGIN: Footer Component -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


<div class="container-fluid" style="background-color: #231F20; color: #FFFFFF; width: auto; ">
    <div class="row" style="padding-top: 80px; padding-left: 200px; padding-right: 200px;">
        <div class="col-md-6 text-center">
            <!-- Footer Logo -->
            <img src="./assets/imgs/footer_logo.svg" alt="Footer Logo">
        </div>
        <div class="col-md-6">
            <!-- Five Rows -->
            <div class="row">
                <div class="col">
                    <h1 class="fs-3" style="font-family: 'Racing Sans One', sans-serif;">Stay in the Loop with Tranz-Sync Innovations!</h1>
                </div>
            </div>
            <div class="row" style="font-family: 'Poppins', sans-serif; width: 600px;">
                <div class="mb-3"> 
                    <input type="email" class="form-control custom-placeholder" id="exampleFormControlInput1" placeholder="Enter your email address" style="font-family: 'Poppins',sans-serif;">
                  </div>
            </div>
            <div class="row btn" style="margin-bottom: 20px;">
                <div class="col">
                    <div class="mb-3 d-flex align-items-center">
                        <button type="submit" class="nav-link fs-5 text-white fw-normal login-register-link" style="font-family: 'Racing Sans One', sans-serif; background-color: #FF0A0A; border-radius: 30px; padding: 8px 15px; width: 250px;">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="row social-headers">
                <div class="col-6">
                    <h1 class="fs-3" style="font-family: 'Racing Sans One', sans-serif;">Follow us!</h1>
                </div>
                <div class="col-6">
                    <h1 class="fs-3" style="font-family: 'Racing Sans One', sans-serif;">Call us!</h1>
                </div>
            </div>
            <div class="row socials">
                <div class="col-6 d-flex "> <!-- Add d-flex and justify-content-center classes -->
                    <div class="col-3">
                        <a href="#" target="_blank"><i class="fa-brands fa-facebook" style="font-size: 50px; color: #FFFFFF;"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="#" target="_blank"><i class="fa-brands fa-instagram" style="font-size: 50px; color: #FFFFFF;"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="#" target="_blank"><i class="fa-brands fa-youtube" style="font-size: 50px; color: #FFFFFF;"></i></a>
                    </div>
                </div>
                <div class="col-6">
                    <h1 class="fs-6" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">+63 917 123 4567</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 80px; padding-left: 200px; padding-right: 200px; padding-bottom: 40px;">
        <hr style="background-color: #FFFFFF; width: 100%; margin: 0px;">
        <p style="font-family: 'Poppins', sans-serif; margin-top: 10px;">© 2024 LogisTECHs. All Rights Reserved.</p>
    </div>
</div>
<!-- END: Footer Component -->

