<nav class="navbar navbar-light" style="background-color: #231f20; height: 100px; padding-left: 120px; ">
    <a class="navbar-brand" href="#">
      <img src="./assets/imgs/nav_bar_logo.svg" width="auto" height="auto" alt="" />
    </a>
    <div class="nav" style="padding-right: 100px;">
      <li class="nav-item" >
        <a class="nav-link fs-5 text-white fw-normal" style="font-family: 'Racing Sans One', sans-serif" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white fw-normal" style="font-family: 'Racing Sans One', sans-serif" href="/home/#about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white fw-normal" style="font-family: 'Racing Sans One', sans-serif; margin-right: 20px;" href="/home/#contact_us">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white fw-normal login-register-link" style="font-family: 'Racing Sans One', sans-serif; background-color: #FF0A0A; border-radius: 10px; padding: 8px 15px;" href="/user">Login/Register</a>
      </li>
    </div>
  </nav>
  