<!--CONTACT US -->

<div id="contact_us" class="contact-us" style="background-color: #FFFFFF; padding-left: 150px; padding-right: 150px; padding-top: 90px; padding-bottom: 90px;">
    <!-- Heading Row -->
    <div class="row d-flex align-items-center justify-content-center" style="margin-bottom: 50px;">
      <div class="col text-center">
        <h2 class="fs-1" style="font-family: 'Racing Sans One', sans-serif; color: #231F20;">Have some <span style="color: #FF0A0A;">questions</span>?</h2>
      </div>
    </div>

    <!-- Content Rows -->
    <div class="row d-flex align-items-center justify-content-center" style="font-family: 'Poppins', sans-serif;">
      <!-- First Column -->
      <div class="col-md-6 d-flex align-items-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <img src="./assets/imgs/contact_us_logo.svg" alt="Contact Us Logo">
      </div>
  
      <!-- Second Column -->
        <div class="col-md-4 d-flex justify-content-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF; ">
            <div class="card align" style="width: 570px; background-color: #231F20; color: #FFFFFF; padding: 20px; border-radius: 30px;">
                <div class="card-body align-items-center justify-content-center">
                    <h5 class="card-title fw-bold text-center">Contact Us Form</h5>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputName" class="form-label">Name</label>
                                <input type="email" class="form-control custom-placeholder" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                            </div>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control custom-placeholder" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
                            <div id="emailHelp" class="form-text fw-light" style="color: #FFFFFF; font-family: Poppins, sans-serif;">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Your questions...</label>
                                <textarea class="form-control fs-6 custom-placeholder" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your questions"></textarea>
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <button type="submit" class="nav-link fs-5 text-white fw-normal login-register-link" style="font-family: 'Racing Sans One', sans-serif; background-color: #FF0A0A; border-radius: 30px; padding: 8px 15px; width: 250px;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>