@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@500&family=Racing+Sans+One&display=swap');




.btn {
    background-color: #FF0A0A !important;
    color: #FFFFFF;
}

h1 {
    font-size: 60px;
}

span {
    font-size: 60px;
}

.row-items{
    height: 150px;;
}
