
<!--MAIN BODY COMPONENT-->

<!--TAGLINE COMPONENT-->

<div class="tagline-section d-flex align-items-center justify-content-center" style="padding-left: 120px; padding-right: -150px;">
    <div class="col-md-6">
      <div class="texts">
        <h1 class="fw-normal" style="font-family: 'Racing Sans One', sans-serif; color: #231F20;">
          <span>Where Logistics meets</span>
        </h1>
        <h1 class="fw-normal" style="font-family: 'Racing Sans One', sans-serif; color: #FF0A0A; margin-bottom: 55px; ">
          <span>Innovation</span>
        </h1>
        <p class="" style="font-family: 'Poppins', sans-serif; color: #231F20; margin-bottom: 55px;">
          <span class="fs-4 fw-normal">Discover a new era in logistics management with <br></span>
          <span class="fs-4 fw-bold">Tranz-Sync</span>
          <span class="fs-4 fw-normal">, your go-to solution for seamless <br>parcel management.</span>
        </p>
        <a class="btn btn-lg fs-4" href="/index" style="font-family: 'Racing Sans One', sans-serif; width: 250px;">Try now!</a>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="./assets/imgs/tagline_logo.svg" alt="" class="img-fluid" width="600px" height="auto"/>
    </div>
  </div>
  
  
  <!-- WHY TRANZ-SYNC -->
  <div class="why-tranzsync" style="background-color: #F4F4F4; padding-left: 120px; padding-right: 100px; padding-top: 90px;">
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col">
        <span style="font-family: 'Racing Sans One', sans-serif; color: #231F20;">Why <span style="color: red;">TRANZ</span>-SYNC?</span>
      </div>
    </div>
    
    <div class="row d-flex align-items-stretch justify-content-center">
      <div class="col-1 text-center" style="font-family: 'Poppins', sans-serif; color: #231F20; padding: 10px;">
        <p class="fw-bold fs-2 row-items" >1</p>
        <p class="fw-bold fs-2 row-items" >2</p>
        <p class="fw-bold fs-2 row-items" >3</p>  
        <p class="fw-bold fs-2 row-items" >4</p>
        <p class="fw-bold fs-2 row-items" >5</p>
      </div>
      
      <div class="col-5 align-items-center" style="font-family: 'Poppins', sans-serif; color: #231F20; padding: 10px;">
        <p class="fw-bold fs-2 row-items" >Enhanced Operational Efficiency</p>
        <p class="fw-bold fs-2 row-items" >Improved Transparency</p>
        <p class="fw-bold fs-2 row-items" >Cost Optimization</p>
        <p class="fw-bold fs-2 row-items" >Increased User Satisfaction</p>
        <p class="fw-bold fs-2 row-items" >Competitive Edge</p>
      </div>
      
      <div class="col-6" style="font-family: 'Poppins', sans-serif; color: #231F20;">
        <p class="fw-normal fs-4 row-items"  >Streamlined logistics operations through automated processes and efficient parcel management.</p>
        <p class="fw-normal fs-4 row-items" >Comprehensive information portal providing stakeholders with real-time visibility into logistics product details and rates.</p>
        <p class="fw-normal fs-4 row-items" >Automation and optimization of logistics processes leading to cost-effective operations.</p>
        <p class="fw-normal fs-4 row-items" >Introduction of a print receipt feature for users, enhancing their experience and building trust in the logistics system.</p>
        <p class="fw-normal fs-4 row-items" >Adoption of cutting-edge technology positions the business ahead of competitors by offering innovative solutions.</p>
      </div>
    </div>
  </div>
  
  
  <!--ABOUT LOGISTECHS-->
  <div id="about_us" class="about-logistechs" style="background-color: #231F20; padding-left: 120px; padding-right: 150px; padding-top: 90px; padding-bottom: 90px; ">
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col">
        <span style="font-family: 'Racing Sans One', sans-serif; color: #FFFFFF;">About <span style="color: red;">LOGISTECHS</span></span>
      </div>
    </div>
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col " style="font-family: 'Poppins', sans-serif">
        <p class=""><span class="text-white fs-3 fw-light font-family-Poppins">LogisTECHs is the dynamic and skilled team empowered by the JOYSIS Programming Java NCIII 30-day skills training, where training meets expertise. This exceptional group is the driving force behind the groundbreaking logistics solution, </span><span class="text-white fs-3 fw-bold font-family-Poppins">Tranz-Sync</span><span class="text-white fs-3 fw-light font-family-Poppins">.</span></p>
      </div>
    </div>
    
    <div class="row d-flex align-items-center justify-content-center">
      <!-- First Row -->
      <div class="col-4 text-center d-flex justify-content-center"  style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <div class="card" style="width: 450px; margin-bottom: 40px;">
          <img src="./assets/imgs/karl.svg" class="card-img-top" alt="Developer Image">
          <div class="card-body">
            <h5 class="card-title fw-bold">Karl Francis Apruebo</h5>
            <h6 class="card-subtitle mb-2 text-muted">System Tester/Developer</h6>
            <p class="card-text">With an eye for detail and a passion for system perfection, Karl ensures that Tranz-Sync functions seamlessly and exceeds expectations.</p>
          </div>
        </div>
      </div>  
    
      <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <div class="card" style="width: 450px; margin-bottom: 40px;">
          <img src="./assets/imgs/rhomina.svg" class="card-img-top" alt="Developer Image">
          <div class="card-body">
            <h5 class="card-title fw-bold">Rhomina Carreon</h5>
            <h6 class="card-subtitle mb-2 text-muted">UI/UX Designer/Developer</h6>
            <p class="card-text" >Rhomina brings creativity and a user-centric approach to the team, designing interfaces that elevate the Tranz-Sync experience.</p>
          </div>
        </div>
      </div>
      
    
      <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <div class="card" style="width: 450px; margin-bottom: 40px;">
          <img src="./assets/imgs/jerald.svg" class="card-img-top" alt="Developer Image">
          <div class="card-body">
            <h5 class="card-title fw-bold" >Jerald Guarino</h5>
            <h6 class="card-subtitle mb-2 text-muted">Business Analyst/Developer</h6>
            <p class="card-text" style="font-size: medium;">Jerald's analytical prowess and development skills contribute to the strategic success of Tranz-Sync, aligning technology with business objectives.</p>
          </div>
        </div>
      </div>
  
      <!-- Second Row -->
      <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <div class="card" style="width: 450px; ">
          <img src="./assets/imgs/mariane.svg" class="card-img-top" alt="Developer Image">
          <div class="card-body">
            <h5 class="card-title fw-bold">Mariane Jamaica Rilles</h5>
            <h6 class="card-subtitle mb-2 text-muted">UI/UX Designer/Developer</h6>
            <p class="card-text" style="font-size: medium;">Mariane combines design aesthetics with technical finesse, creating visually appealing and user-friendly interfaces for Tranz-Sync.</p>
          </div>
        </div>
      </div>
      
      <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Poppins', sans-serif; color: #FFFFFF;">
        <div class="card" style="width: 450px;"> 
          <img src="./assets/imgs/alex.svg" class="card-img-top" alt="Developer Image">
          <div class="card-body">
            <h5 class="card-title fw-bold">John Alex Robles</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Project Manager/Technical Lead</h6>
            <p class="card-text" style="font-size: medium;">Steering the team with leadership and technical expertise, John ensures that Tranz-Sync is a comprehensive logistics solution.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--FOOTER COMPONENT-->
  
  
  
  