<app-header></app-header>
<!--TAGLINE COMPONENT-->

<div class="tagline-section d-flex align-items-center justify-content-center" style="padding-top: 80px; padding-left: 120px; padding-right: -150px; padding-bottom: 80px;">
    <div class="col-md-6">
      <div class="texts">
        <h1 class="fw-normal" style="font-family: 'Racing Sans One', sans-serif; color: #231F20;">
          <span>Where Logistics meets</span>
        </h1>
        <h1 class="fw-normal" style="font-family: 'Racing Sans One', sans-serif; color: #FF0A0A; margin-bottom: 55px; ">
          <span>Innovation</span>
        </h1>
        <p class="" style="font-family: 'Poppins', sans-serif; color: #231F20; margin-bottom: 55px;">
          <span class="fs-4 fw-normal">Discover a new era in logistics management with <br></span>
          <span class="fs-4 fw-bold">Tranz-Sync</span>
          <span class="fs-4 fw-normal">, your go-to solution for seamless <br>parcel management.</span>
        </p>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="./assets/imgs/index_logo.svg" alt="" class="img-fluid" width="600px" height="auto"/>
    </div>
  </div>

<div class="" style="padding-left: 120px; padding-right: 120px; padding-bottom: 80px;">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-lg fs-4" href="/add-parcel" style="font-family: 'Racing Sans One', sans-serif; width: 250px; background-color: #FF0A0A; color: #FFFFFF; border-radius: 30px; margin-bottom: 20px;">Add Parcel</a>
        </div>
        <div class="col-md-4 text-end">
            <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="searchParcels()">
        </div>
    </div>
    <table class="table" style="font-family: 'Poppins', sans-serif; ">
        <thead>
            <tr>
                <th>Parcel ID</th>
                <th>Tracking Code</th>
                <th>Parcel Type</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parcel of parcels">
            <td>{{ parcel.parcel_id }}</td>
            <td>{{ parcel.tracking_code }}</td>
            <td>{{ parcel.parcel_type }}</td>
            <td>{{ parcel.sender }}</td>
            <td>{{ parcel.receiver }}</td>
            <td>{{ parcel.status }}</td>
            <td>
              <button class="btn btn-primary btn-sm button-spacing" style="margin-right: 10px;" [routerLink]="['/view-parcel', parcel.parcel_id]">View</button>
              <button class="btn btn-secondary btn-sm button-spacing"  style="margin-right: 10px;" [routerLink]="['/update-parcel', parcel.parcel_id]">Update</button>
              <button class="btn btn-danger btn-sm button-spacing"  style="margin-right: 10px;" *ngIf="parcel.parcel_id" (click)="delete(parcel.parcel_id)">Delete</button>
              <button class="btn btn-info btn-sm" (click)="printReceipt(parcel)">Print Receipt</button>
            </td>
          </tr>
        </tbody>
    </table>
    
    
</div>
<app-footer></app-footer>